<link rel="stylesheet" href="../../assets/css/style.css">
<div class="row align-items-center">
    <div class="col-12 col-sm-6 offset-sm-3">
        <div class="card">
            <div class="card-body">
                <h1 class="text-white text-center">{{pageTitle}}</h1>
                <br>
                <form method="POST" action="/autores/edit/{{autor.id}}" novalidate>
                    <div class="mb-3">
                        <label for="nombre" class="form-label text-white">Nombre del Autor</label>
                        <input type="text" class="form-control text-info" id="nombre" name="nombre" value="{{autor.nombre}}" required />
                    </div>
        
                    <div class="mb-3">
                        <label for="correo" class="form-label text-white">Correo</label>
                        <input type="email" class="form-control text-info" id="correo" name="correo" value="{{autor.correo}}" required />
                    </div>
        
                    <button type="submit" class="btn btn-info float-end" onclick="confirmCreateOrEdit(this, event)">
                        <i class="bi bi-check"></i> Guardar</button>
                    <a href="/autores" class="btn btn-secondary float-end me-2">
                        <i class="bi bi-x"></i> Volver a la lista</a>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="../../assets/js/index.js"></script>
