html, body {
    height: 100%;
    margin: 0; 
}

body {
    min-height: 100%;
    background-image: url("https://i.imgur.com/iDXVUj2.png");
    background-size : cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

.card {
    background-color: rgba(66, 19, 39, 0.4);
    height: auto;
  width: 100%;
  margin: 10px;

}

.card .card-img-top,
.card img {
  width: 100%;
  height: auto; /* Set a fixed height */
  object-fit: cover; /* Ensures images cover the space without distorting */
}


.input-error{
    border-color: red;
    border-width: medium;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color : rgba(66, 19, 39, 0.4);
  }

  main.container {
    padding-top: 70px; 
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }


 .footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color : rgba(66, 19, 39, 0.4);
  }

  .btn-general{
      background-color :#f56d9a
  }

  .btn-general2{
    background-color :#fabad6
  }

  .btn-general:hover{
      background-color :#f56d9a
  }

  .btn-general2:hover{
    background-color :#fabad6
  }

/* Custom width for select2 if needed */
.js-example-basic-multiple {
    max-width: 20px; /* Adjust as needed */
    width: 100%; /* Ensure it respects the width of the container */
  }
  